
 body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html,
    body{
        height: 100%;
        background-size: cover;
        backdrop-filter: blur(50px);
        overflow: hidden;
    }
    .upper-container{
        width: 80%;
        height: 80%;
        padding-left: 10%;
    }
    .record-container{
        width: 50%;
        height: 100%;
        float: left;
        
    }
    .record-bg{
        width: 500px;
        height: 500px;
        background-color: black;
        border-radius: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .record-img{
        width: 250px;
        height: 250px;
        border-radius: 250px;
        background-image: url(shafa.jpg);
        background-size: 100%
        100%;
    }
    .introduction-container{
        width: 50%;
        height: 100%;
        float: left;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .music-title{
        font-size: 4rem;

    }
    .bottom-container{
        height: 20%;
        padding:0 20px;

    }
    .progress{
        width: 100%;
        height: 3px;
        background-color: #fff;
        margin-bottom: 20px;
    }
    .progress-played{
        width: 0%;
        height: 3px;
        background-color: green;
    }
    .controls{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .time-container{
        color:#fff;
        font-size: 1.3rem;
    }
    .center-button{
        display: flex;
        align-items: center;
    }
    .center-icon{
        float: left;
        width: 30px;
        height: 30px;
        margin: 0 10px;
    }
    .center-icon:hover{
        opacity: 0.7;
    }
    .center-icon:active{
        opacity: 0.7;
    }

    .playMode{
        background-image: url(./mode1.png);
        background-size: 100% 100%;
    }
    .beforeMusic{
        background-image: url(./上一首.png);
        background-size: 100% 100%;
    }
    .playPause{
        width: 50px;
        height: 50px;
    }
    .icon-play{
        background-image: url(./继续播放.png);
        background-size: 100% 100%;
    }
    .icon-pause{
        background-image: url(./暂停.png);
        background-size: 100% 100%;
    }
    .nextMusic{
         background-image: url(./下一首.png);
        background-size: 100% 100%;
    }
    .volumn{
         background-image: url(./音量.png);
        background-size: 100% 100%;
    }
    .right-button{
        display: flex;
    }
    .right-icon{
        width: 30px;
        height: 30px;
    }
    .right-icon:hover{
        opacity: 0.7;
    }
    .right-icon:active{
        opacity: 0.6;
    }
    .MV{
        background-image: url(MV.png);
        background-size:100% 100%; 
    }
    .list{
        background-image: url(./列表.png);
        background-size: 100% 100%;
    }
    .speed{
        color: white;
    }
    .rotate-play{
        animation: rotateAni 10s
        infinite linear;
        animation-play-state: paused;
        animation-fill-mode: forwards;
    }
    @keyframes rotateAni{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
